NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_WHATSAPP_PHONE=51965312386
NEXT_PUBLIC_WHATSAPP_DISPLAY_PHONE=965 312 386
ADMIN_ALLOWED_EMAIL=jaimetr1309@gmail.com
NEXT_PUBLIC_ADMIN_ALLOWED_EMAIL=
NEXT_PUBLIC_CULQI_PUBLIC_KEY=
CULQI_SECRET_KEY=
SUPABASE_SECRET_KEY=
GEMINI_API_KEY=
